@font-face {
  font-family: 'P052';
  font-weight: normal;
  font-style: normal;
  src: url(./p052/p052-roman.woff2);
}

@font-face {
  font-family: 'P052';
  font-weight: bold;
  font-style: normal;
  src: url(./p052/p052-bold.woff2);
}

@font-face {
  font-family: 'P052';
  font-style: italic;
  src: url(./p052/p052-italic.woff2);
}

@font-face {
  font-family: 'P052';
  font-weight: bold;
  font-style: italic;
  src: url(./p052/p052-bolditalic.woff2);
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  src: url(./lato/Lato-Regular.woff2);
}

@font-face {
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;
  src: url(./lato/Lato-Bold.woff2);
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: normal;
  src: url(./roboto/Roboto-Regular.woff2);
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  font-style: italic;
  src: url(./roboto/Roboto-Italic.woff2);
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: normal;
  src: url(./roboto/Roboto-Bold.woff2);
}

@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  font-style: italic;
  src: url(./roboto/Roboto-BoldItalic.woff2);
}
